In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv('Salary_Data.csv')

In [4]:
data

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [5]:
data.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [29]:
X = data[['Salary']]
y = data['YearsExperience']

In [30]:
y

0      1.1
1      1.3
2      1.5
3      2.0
4      2.2
5      2.9
6      3.0
7      3.2
8      3.2
9      3.7
10     3.9
11     4.0
12     4.0
13     4.1
14     4.5
15     4.9
16     5.1
17     5.3
18     5.9
19     6.0
20     6.8
21     7.1
22     7.9
23     8.2
24     8.7
25     9.0
26     9.5
27     9.6
28    10.3
29    10.5
Name: YearsExperience, dtype: float64

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

In [32]:
X_train

      Salary
13   57081.0
27  112635.0
12   56957.0
1    46205.0
19   93940.0
14   61111.0
18   81363.0
6    60150.0
11   55794.0
23  113812.0
24  109431.0
28  122391.0
22  101302.0
10   63218.0
26  116969.0
29  121872.0
8    64445.0
25  105582.0
16   66029.0
17   83088.0
0    39343.0
15   67938.0
4    39891.0
9    57189.0

In [33]:
from sklearn.linear_model import LinearRegression

In [34]:
clf = LinearRegression()

In [35]:
clf.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [36]:
clf.predict(X_test)

array([6.94772095, 3.16349497, 3.38643076, 1.4674782 , 2.05541174,
       7.61084585])

In [37]:
y_test

20    6.8
7     3.2
5     2.9
2     1.5
3     2.0
21    7.1
Name: YearsExperience, dtype: float64

In [38]:
clf.score(X_test, y_test)

0.982213140200749

In [40]:
percentage_LinearClassifier = clf.score(X_test, y_test) * 100

In [41]:
percentage_LinearClassifier

98.2213140200749